/*
Custom Css
*/
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}

@media screen and (max-width: 800px) {
  .filterContent{
    display: none;
  }
}

.table-striped tbody tr:nth-of-type(odd) {
  background-color: #F5F7FF;
}

.table-dark.table-striped tbody tr:nth-of-type(odd) {
  background-color: rgba(255, 255, 255, 0.05);
}
